---
import { getEntry } from 'astro:content';

interface Props {
    badge: string;
    badge2?: string;
}

const { badge, badge2 } = Astro.props;
const badgeInfo = (await getEntry('meritBadges', badge))?.data;
const badge2Info = badge2 ? (await getEntry('meritBadges', badge2))?.data : null;
---

{
    badge2Info && (
        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 200 200"
        >
            <a href="/merit-badges/{badge}/">
                <image
                    xlink:href={badgeInfo.image}
                    x="0"
                    y="0"
                    width="150"
                    height="150"
                />
            </a>
            <a href="/merit-badges/{badge2}/">
                <image
                    xlink:href={badge2Info.image}
                    x="50"
                    y="50"
                    width="150"
                    height="150"
                />
            </a>
        </svg>
    )
}
{
    !badge2Info && (
        <a href="/merit-badges/{badge}/">
            <img src={badgeInfo.image} width="200" height="200" />
        </a>
    )
}

<style>
    svg,
    img {
        aspect-ratio: auto 200 / 200;
        width: 100%;
        height: auto;
    }
</style>
