---
import { getEntry } from 'astro:content';
import { updatedDateToString } from '~/utils/updated-date';
import DefaultLayout from './default-layout.astro';
import Requirements from '~/components/requirements.astro';
import ScaledContent from '~/components/scaled-content.astro';

interface Props {
    badge: string;
}

const { badge } = Astro.props.frontmatter || Astro.props;
const requirements = (await getEntry('meritBadgeRequirements', badge))?.data;
const resources = (await getEntry('meritBadgeResources', badge))?.data;
const info = (await getEntry('meritBadges', badge))?.data;
const updatedDates = (await getEntry('updated', 'merit-badges'))?.data;
const updatedDateStr = updatedDateToString(updatedDates[badge]);
const related = [];

for (const rankName of info.ranks) {
    const rank = (await getEntry('scoutRanks', rankName))?.data;
    related.push({
        name: `${rank.name} Rank`,
        href: `/scout-ranks/${rankName}/`,
    });
}

for (const otherAwardId of info['otherAwards']) {
const otherAward = (await getEntry('otherAwards', otherAwardId))?.data;
    related.push({
        name: otherAward.name,
        href: `/other-awards/${otherAwardId}/`,
    });
}

function checkRequirementsForResources(reqs) {
    for (const req of reqs) {
        if (req.resources && req.resources.length > 0) {
            return true;
        }

        if (req.children) {
            if (checkRequirementsForResources(req.children)) {
                return true;
            }
        }
    }

    return false;
}

let hasResources = checkRequirementsForResources(requirements);
---
<style>
.requirements-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .requirements-header {
        align-items: flex-start;
        flex-direction: column;
    }
}

.updated {
    font-size: 0.4em;
    font-weight: normal;
    text-transform: none;
    font-style: italic;
}

@media (max-width: 480px) {
    .updated-break {
        display: none;
    }
}

.gap-bottom {
    margin-bottom: 0.5em;
}
</style>
    <DefaultLayout title={`${info.name} Merit Badge`}>
    <h1>{ info.name }</h1>

    <div class="center unprintable">
        <ScaledContent>
            <img src={info.bucky} alt="Bucky" class="wide" />
        </ScaledContent>
        <ScaledContent>
            <img src={info.image} alt="Merit Badge" class="wide" />
        </ScaledContent>
    </div>

    <slot />

    <h3>Resources</h3>

    <ul>
        {resources.map((resource) => (
            <li>
                <a href={resource.url}>{resource.name}</a>
            </li>
        ))}
    </ul>

    {related.length > 0 && (
        <h3>Related</h3>

        <ul>
            {related.map((item) => (
                <li>
                    <a href={item.href}>{item.name}</a>
                </li>
            ))}
        </ul>
    )}

    <h2 class="requirements-header">
        <div>{ info.name } Requirements</div>
        <div class="updated">
            Current Scouts BSA requirements<br class="updated-break" />
            as of { updatedDateStr }
        </div>
    </h2>

    {hasResources && <resources-toggle class="gap-bottom"></resources-toggle>}
    <Requirements type="meritBadgeRequirements" entry={badge} />
</DefaultLayout>
<script>
import '~/assets/resources-toggle';
</script>
